<div class="container">
  <div class="title-container">
      <mat-form-field appearance="fill">
          <mat-label>What needs to be done?</mat-label>
          <input matInput [(ngModel)]="todoTitle">
      </mat-form-field>
  </div>
  <div class="status-and-priority">
      <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="status">
            <mat-option *ngFor="let status of todoStatuses" [value]="status.value">
                    {{status.viewValue}}
                </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select [(ngModel)]="selectedValuePrior" name="priority">
                <mat-option  *ngFor="let priority of todoPriorities" [value]="priority.value">
                    {{priority.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
  </div>
  <div class="desc-container">
      <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="todoDescription"></textarea>
      </mat-form-field>
  </div>
  <div class="date-container">
      <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>


<div>
    <button mat-raised-button color="primary" (click)="addTodo()">ADD</button>
</div>

<mat-card *ngFor="let todo of todos">
    <div>
        <mat-card-header>
          <mat-card-title>{{ todo.title }}</mat-card-title>
          <mat-card-subtitle>PRIORITY: {{ todo.priority }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ todo.description }} 
          </p>
          <p>
            STATUS: {{ todo.status }} 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">EDIT</button>
          <button mat-raised-button color="primary">DELETE</button>
        </mat-card-actions>
    </div>
</mat-card>

<!-- next step filters-->
<div>
    <div>
        <button>ALL</button>
        <button>TO DO</button>
        <button>IN PROGRESS</button>
        <button>DONE</button>
    </div>
    <div>
        <button>DELETE ALL</button>
    </div>  
</div>
</div>
