<mat-form-field appearance="fill">
    <mat-label>What needs to be done?</mat-label>
    <input matInput [(ngModel)]="todoTitle">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Status</mat-label>
  <mat-select [(ngModel)]="selectedValue" name="status">
    <mat-option *ngFor="let status of todoStatuses" [value]="status.value">
            {{status.viewValue}}
        </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="selectedValuePrior" name="priority">
        <mat-option  *ngFor="let priority of todoPriorities" [value]="priority.value">
            {{priority.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Description</mat-label>
  <textarea matInput [(ngModel)]="todoDescription"></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div>
    <button mat-raised-button color="primary" (click)="addTodo()">ADD</button>
</div>


<div *ngFor="let todo of todos">
    <div>
        <div>{{ todo.title }}</div>
        <div>{{ todo.status }}</div>
        <div>{{ todo.priority }}</div>
        <div>{{ todo.description }} </div>
    </div>
</div>

<!-- next step filters-->
<div>
    <div>
        <button>ALL</button>
        <button>TO DO</button>
        <button>IN PROGRESS</button>
        <button>DONE</button>
    </div>
    <div>
        <button>DELETE ALL</button>
    </div>  
</div>
